/* Mixins
============================================*/
.clearfix() {

	&:after,
	&:before {
		display: table;
		content: "";
		clear: both;
	}
}

.table() {
	display: table;
	width: 100%;
}

.table-cell() {
	display: table-cell;
	vertical-align: middle;

}

/* Vars
============================================ */
//offset
@p-off: 50px;
@base-offset: 80px;

//colors
@base-bg: #eeeeee;
@text-color: #000000;
@light-color: #ffffff;
@danger-color: #fb565a;
@danger-hover: #e74246;
@danger-active :#d7373b;
@gray-color: #a6a6a6;
@smoke-color: #8f8f8f;
@secondary-color: #00ca74;
@secondary-hover: #00bc6c;
@secondary-active :#00aa62;
@minor-color: #efc84a;
@minor-hover: #eab534;
@minor-active: #e5a722;

//fonts
@font-bold : 'robotobold';
@font-medium : 'robotomedium';
@font : 'roboto';




