.nav {
  .table();

	&__item {
    display: inline-block;
    margin-right: @p-off;

		&:last-child {
			margin-right: 0;
		}

	}

}

.nav__link {
  transition: all 0.25s;

  &:hover {
    color: @danger-color;
  }

  &:active {
    color: @smoke-color;
  }
}

.nav__link--active {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    bottom: -10px;
    display: block;
    width: 100%;
    height: 2px;
    background: @danger-color;
  }
}

.nav__icon {
  padding-right: @p-off / 2;
}
