 .page-footer {
  display: block;
  padding: @p-off 0;
  background: @light-color;

}

.page-footer__social {
  float: left;
  width: 35%;
}

.page-footer__promo {
  float: left;
  width: 65%;
}

.page-footer__promo-text {
  padding: 10px 0;
  margin: 0;
}

