.page-button {
  display: inline-block;
  text-transform: uppercase;
  color: @light-color;
  font-size: 16px;
  border-radius: 5px;
  line-height: 1.125;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all .3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  }

  &:active {
    color: @base-bg;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    outline: none;

  }


  &--primary {
    background: @danger-color;

    &:hover {
      background: @danger-hover;
    }

    &:active {
      background: @danger-active;

    }
  }

  &--secondary {
    background: @secondary-color;

    &:hover {
      background: @secondary-hover;
    }

    &:active {
      background: @secondary-active;
    }
  }

  &--minor {
    background: @minor-color;

    &:hover {
      background: @minor-hover;
    }

    &:active {
      background: @minor-active;
    }
  }

}


@media (max-width: @lg-width) and (min-width:@md-width ) {

}

@media (max-width: @md-width) and (min-width:@sm-width ) {
  .page-button {
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: @sm-width){
  .page-button {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


@media (max-width: @xs-width) {
  .page-button {
    display: block;
    margin: 0 10px;
  }
}
