.page-header {
	background: @base-bg;
	padding: @p-off 0 0 0;
  text-transform: uppercase;
}

.page-header--inner {
  padding-bottom: @base-offset;
}

.page-header__logo {
  float: left;
  width: 30%;

}

.page-header__nav {
  float: left;
  width: 50%;
  padding-top: @p-off/2;

}

.page-header__user {
 float: left;
 width: 20%;
 padding-top: @p-off/2;
 text-align: right;

}

.page-header___title {
  text-align: center;
  padding-top: @base-offset/2;
  clear: both;
  font-weight: bold;
  text-transform: none;

}

@media (max-width: @md-width) {
  .page-header {
    padding-top: @p-off - 10;
  }

  .page-header--inner {
    padding-bottom: @base-offset - 10;
  }
  .page-header__logo {
    float: none;
    width: auto;
  }
  .page-header__nav,
  .page-header__user {
    float: none;
    padding: 0;
    width: auto;
    text-align-last: right;

  }
}

@media (max-width: @sm-width) {
  .page-header {
    padding-top: @p-off - 20;
  }

  .page-header--inner {
    padding-bottom: @base-offset - 20;
  }
}


@media (max-width: @xs-width) {
  .page-header {
    padding-top: @p-off - 25;
  }

  .page-header--inner {
    padding-bottom: @base-offset - 25;
  }

}




