
.page-header {
	background: #eee;
	.table();
	padding: @p-off 0;
}

.page-header__logo {
	width: 360px;
	.table-cell();
}

.page-header__nav {
	width: 640px;
	.table-cell();	
}

.page-header__cart {
	width: 160px;
	.table-cell();	
}

