.page-header {
	background: #eee;
	padding: @p-off 0;
  text-transform: uppercase;


}

.page-header__logo {
  float: left;
  width: 30%;

}

.page-header__nav {
  float: left;
  width: 50%;
  padding-top: @p-off/2;

}

.page-header__user {
 float: left;
 width: 20%;
 padding-top: @p-off/2;
 text-align: right;

}

