.page-button {
  display: inline-block;
  text-transform: uppercase;
  color: @light-color;
  font-size: 16px;
  border-radius: 5px;
  line-height: 1.125;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all .3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  }

  &:active {
    color: @base-bg;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    outline: none;

  }


  &--primary {
    background: @danger-color;

    &:hover {
      background: @danger-hover;
    }

    &:active {
      background: @danger-active;

    }
  }

  &--secondary {
    background: @secondary-color;

    &:hover {
      background: @secondary-hover;
    }

    &:active {
      background: @secondary-active;
    }
  }

  &--minor {
    background: @minor-color;

    &:hover {
      background: @minor-hover;
    }

    &:active {
      background: @minor-active;
    }
  }

}
