.page-shop {
  padding: 60px 0;
  background: @light-color;
}

.page-shop__wrapper {
  .table();
  height: 100%;
}

.page-shop__form,
.page-shop__items {
  display: table-cell;
  height: 100%;
}

.page-shop__form {
  width: 260px;
  padding-right: 140px;
}

.page-shop__pagination {
  padding-top: 20px;
}
