.slides {

  &__item {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: 93% 92%;

    &--first {
      background-image: url('../img/slides/slide1.png');
    }

    &--second {
      background-image: url('../img/slides/slide2.png');
    }

    &--third {
      background-image: url('../img/slides/slide3.png');
    }
  }

}

.slides__title {
  margin-bottom: @p-off/2;
}

.slides__description {
  margin-bottom: 35px;
}

.slides__button {
  padding: 18px 54px 18px 54px;
}
