.text-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  &--upper {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

  }

  &--sm {
    line-height: 1.125;
  }

  &--lighten {
    color: @smoke-color;
  }

}

@media (max-width: @lg-width) and (min-width:@md-width ) {
  .text-description {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;

    &--upper {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;

    }
  }

}

@media (max-width: @md-width) and (min-width:@sm-width ) {
  .text-description {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;

    &--upper {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;

    }

  }

}

@media (max-width: @sm-width) and (min-width:@xxs-width ) {
    .text-description {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;

    &--upper {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;

    }

  }

}



